<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IAT455 Week 3 BaseCode/ImageManipulation.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ImageManipulation"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IAT455 Week 3 BaseCode"/>
</launchConfiguration>
